html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.people {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  justify-content: center;


  @media (min-width: 1000px) {
    grid-template-columns: repeat(4, 200px);
    column-gap: 30px;
    justify-content: center;
  }
}

.photo:hover {
  transform: scale(1.1);
}

.person {
  transition: all 1s;
}
.person:hover {
  transform: scale(1.05);
  background-color: #EEEEEE;
}


.photo {
  position: relative;
  transition: all 1s;

  &__round {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: all 1s;
  }
}

// .photo:hover {
//   transform: scale(1.1);
// }

// .person {
//   transition: all 1s;
// }
// .person:hover {
//   transform: scale(1.1);
// }

.photo:hover .photo__round {
  border-radius: 60px;
}

.name {
  font-family: Arial;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F4F4F;

}

.details {
  justify-items: center;
}

.rank {
  font-family: Arial;
  font-size: 16px;
  line-height: 32px;
  text-align: center;

  font-weight: 700;
  color: #8B0000;

  position: absolute;
  width: 32px;
  height: 32px;
  left: 158px;
  top: 84px;
  background-color: #fff;
  background-position: top 148px left 84px;
  border-radius: 50%;
}

